.ReactTable {
  background-color: aliceblue;
  margin-left: 350px;
  position: fixed;
  display: table;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  width: 800px;
  align-content: center;
}


.ReactTable .rt-thead .rt-tr {
  text-align: left;
  background-color: #87CEFA;
}
.h3{
    margin-left: 350px;
    color: darkblue;
}